<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">ENTER name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br><br>
    <label for="country">ENTER country: </label>
    <input type="text" th:field="*{country}" id="country"/>
    <br><br>
    <label for="age">ENTER age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br><br>
    <br/>
    <label for="roles">Choose roles: </label>
    <br/>
    <select name="rolesList" th:field="*{roles}" id="roles" class="form-control" multiple>
        <option th:value="'ROLE_ADMIN'" th:text="ADMIN"></option>
        <option th:value="'ROLE_USER'" th:text="USER" ></option>
    </select>
    <input type="submit" value="Save"/>
</form>

</body>
</html>