<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>

        .user-role-info strong {
            font-weight: bold; /* Установка жирного начертания для username */
        }

        .side-container ul {
            padding: 20px; /* Отступы для списка кнопок */
            list-style: none; /* Убрать маркеры списка */
        }

        .side-container li {
            margin-bottom: 10px; /* Отступ между кнопками */
        }

        body {
            padding-top: 56px; /* Отступ для навигационной панели */
        }

        .tab-content {
            padding: 20px;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            margin-top: 10px;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-2" href="/admin">
        <span class="font-weight-bold" id="headerUsername"></span>
        <span class="font-weight-normal"> with roles: </span>
        <span class="font-weight-normal" id="headerRoles"></span>
    </a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-right">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
</br>
</br>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0">
            <div class="bg-white vh-100">
                <nav class="nav nav-pills nav-fill nav flex-column mt-3">
                    <a class="nav-link active" data-toggle="tab" href="#userCurrent">Admin</a>
                    <a class="nav-link " data-toggle="tab" href="#userPanel">User</a>
                </nav>
            </div>
        </div>

        <div class="col-sm-10 height: 1200 px" style="height: 1000px; background: #F7F7F7">
            <div class="tab-content">

                <div class="tab-pane fade show active" id="userCurrent">
                    <div class="row">
                        <div class="col-sm-12 p-3">
                            <h1>Admin panel</h1>
                            <div class="col">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active fade-in" data-toggle="tab" href="#usersTable">Users
                                            table</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link fade-in" data-toggle="tab" href="#newUser">New User</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="usersTable">
                                        <div class="mb-3">
                                            <h2>All users</h2>
                                        </div>
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Country</th>
                                                <th>Age</th>
                                                <th>ID</th>
                                                <th>Roles</th>
                                                <th style="text-align: center;">Update</th>
                                                <th style="text-align: center;">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbodyAllUserTable">
                                            <!--<tr th:each="user : ${users}">
                                                <td th:text="${user.getName()}">Name</td>
                                                <td th:text="${user.getCountry()}">Country</td>
                                                <td th:text="${user.getAge()}">Age</td>
                                                <td th:text="${user.getId()}">Id</td>
                                                <td><span th:utext="${user.getRolesToString()}">Roles</span></td>
                                                <td style="text-align: center;">
                                                    <button type="button" class="btn btn-info"
                                                            data-toggle="modal"
                                                            th:data-target="${'#edit' + user.id}">Edit
                                                    </button>

                                                    <div class="modal fade"
                                                         th:id="'edit' + ${user.id}" tabindex="-1">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Edit user</h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal"
                                                                            aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="text-center"
                                                                          style="width: 220px; margin: auto"
                                                                          th:method="POST"
                                                                          th:action="@{/admin/edit/{id}(id=${user.id})}"
                                                                          th:object="${user}"
                                                                          th:id="${'editForm' + user.id}">

                                                                        <div class="form-group">
                                                                            <label for="name"
                                                                                   class="col-form-label font-weight-bold">First
                                                                                name</label>
                                                                            <input type="text" style="height:30px"
                                                                                   class="form-control"
                                                                                   th:value="${user.name}" name="name"
                                                                                   id="name">
                                                                            <br/>

                                                                            <label for="age"><b>Age</b></label>
                                                                            <input type="text" style="height:30px"
                                                                                   class="form-control"
                                                                                   th:value="${user.age}" name="age"
                                                                                   id="age">
                                                                            <br/>

                                                                            <div class="form-group">
                                                                                <label for="username"><b>Username</b></label>
                                                                                <input type="text" style="height:30px"
                                                                                       class="form-control"
                                                                                       th:value="${user.username}"
                                                                                       name="username" id="username">
                                                                                <br/>
                                                                            </div>

                                                                            <label for="country"><b>Country</b></label>
                                                                            <input type="text"
                                                                                   style="height:30px"
                                                                                   class="form-control"
                                                                                   th:value="${user.country}"
                                                                                   name="country"
                                                                                   id="country">
                                                                            <br/>

                                                                            <label for="password"><b>Password</b></label>
                                                                            <input type="password" style="height:30px"
                                                                                   class="form-control"
                                                                                   th:value="${user.password}"
                                                                                   name="password" id="password">
                                                                            <br/>

                                                                            <div class="form-group">
                                                                                <label for="roles">Роли</label>
                                                                                <select name="rolesList"
                                                                                        th:field="*{roles}" id="roles"
                                                                                        class="form-control" multiple>
                                                                                    <option th:value="'ROLE_ADMIN'"
                                                                                            th:text="ADMIN"></option>
                                                                                    <option th:value="'ROLE_USER'"
                                                                                            th:text="USER"></option>
                                                                                </select>
                                                                            </div>
                                                                            <button type="submit"
                                                                                    class="btn btn-primary">Сохранить
                                                                                изменения
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center;">
                                                    <button type="button" class="btn btn-danger"
                                                            data-toggle="modal"
                                                            th:data-target="${'#delete' + user.id}">Delete
                                                    </button>

                                                    <div class="modal fade"
                                                         th:id="'delete' + ${user.id}"
                                                         tabindex="-1">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Delete user</h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal"
                                                                            aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="text-center"
                                                                          style="width: 220px; margin: auto"
                                                                          th:method="POST"
                                                                          th:action="@{/admin/delete/{id}(id=${user.id})}"
                                                                          th:object="${user}"
                                                                          th:id="${'deleteForm' + user.id}">

                                                                        <div class="form-group">
                                                                            <label for="Dname"
                                                                                   class="col-form-label font-weight-bold">First
                                                                                name</label>
                                                                            <input type="text" style="height:30px"
                                                                                   class="form-control"
                                                                                   th:value="${user.name}" name="Dname"
                                                                                   id="Dname" readonly>
                                                                            <br/>
                                                                        </div>
                                                                        <label for="Dage"><b>Age</b></label>
                                                                        <input type="text" style="height:30px"
                                                                               class="form-control"
                                                                               th:value="${user.age}" name="Dage"
                                                                               id="Dage" readonly>
                                                                        <br/>

                                                                        <div class="form-group">
                                                                            <label for="Dusername"><b>Username</b></label>
                                                                            <input type="text" style="height:30px"
                                                                                   class="form-control"
                                                                                   th:value="${user.username}"
                                                                                   name="Dusername" id="Dusername"
                                                                                   readonly>
                                                                            <br/>
                                                                        </div>

                                                                        <label for="Dcountry"><b>Country</b></label>
                                                                        <input type="text"
                                                                               style="height:30px"
                                                                               class="form-control"
                                                                               th:value="${user.country}"
                                                                               name="Dcountry"
                                                                               id="Dcountry" readonly>
                                                                        <br/>

                                                                        <label for="Dpassword"><b>Password</b></label>
                                                                        <input type="password" style="height:30px"
                                                                               class="form-control"
                                                                               th:value="${user.password}"
                                                                               name="password" id="Dpassword" readonly>
                                                                        <br/>

                                                                        <div class="form-group">
                                                                            <label for="Droles">Роли</label>
                                                                            <select name="DrolesList"
                                                                                    th:field="*{roles}" id="Droles"
                                                                                    class="form-control" multiple>
                                                                                <option th:value="'ROLE_ADMIN'"
                                                                                        th:text="ADMIN"></option>
                                                                                <option th:value="'ROLE_USER'"
                                                                                        th:text="USER"></option>
                                                                            </select>
                                                                        </div>
                                                                    </form>
                                                                    <br/>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button"
                                                                            class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <input type="submit"
                                                                           th:form="${'deleteForm' + user.id}"
                                                                           class="btn btn-danger"
                                                                           value="Delete"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </tr>-->
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="newUser">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title br-light">Add new user</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="text-center container">
                                                    <form id="formNewUser" name="formNewUser">
                                                        <p>
                                                            <label class="container-fluid" for="newUsername"><strong>Username</strong>
                                                                <input class="form-control"
                                                                       type="text"
                                                                       name="username"
                                                                       id="newUsername"/>
                                                            </label>
                                                        </p>
                                                        <p>
                                                            <label class="container-fluid" for="newName"><strong>Name</strong>
                                                                <input class="form-control"
                                                                       type="text"
                                                                       name="name"
                                                                       id="newName"/>
                                                            </label>
                                                        </p>

                                                        <p>
                                                            <label class="container-fluid" for="newCountry"><strong>Country</strong>
                                                                <input class="form-control"
                                                                       type="text"
                                                                       name="country"
                                                                       id="newCountry"/>
                                                            </label>
                                                        </p>

                                                        <p>
                                                            <label class="container-fluid" for="newCountry"><strong>Age</strong>
                                                                <input class="form-control"
                                                                       type="text"
                                                                       name="age"
                                                                       id="newAge"/>
                                                            </label>
                                                        </p>

                                                        <p>
                                                            <label class="container-fluid" for="newCountry"><strong>Password</strong>
                                                                <input class="form-control"
                                                                       type="text"
                                                                       name="password"
                                                                       id="newPassword"/>
                                                            </label>
                                                        </p>

                                                        <label class="container-fluid"
                                                               for="newUserRoles"><strong>Role</strong>
                                                            <select id="newUserRoles"
                                                                    class="form-control"
                                                                    name="roles"
                                                                    multiple
                                                                    size="2">
                                                            </select>
                                                        </label>

                                                        <button type="submit"
                                                                id="newUserButton"
                                                                class="btn btn-success">Add new user</button>
                                                    </form>
                                                </div>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="userPanel">
                    <h2>User information-page</h2>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>Age</th>
                                    <th>Roles</th>
                                </tr>
                                </thead>
                                <tbody id="userPanelBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formEditUser">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idEditUser"><strong>ID</strong>
                                    <input class="form-control"
                                           type="number"
                                           name="id"
                                           id="idEditUser"
                                           disabled/>
                                </label>
                            </p>
                            <p>
                                <label for="userNameEditUser"><strong>Username</strong>
                                    <input class="form-control"
                                           type="text"
                                           name="username"
                                           id="userNameEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="nameEditUser"><strong>Name</strong>
                                    <input class="form-control"
                                           type="text"
                                           name="name"
                                           id="nameEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="ageEditUser"><strong>Age</strong>
                                    <input class="form-control"
                                           type="text"
                                           name="age"
                                           id="ageEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="countryEditUser"><strong>Country</strong>
                                    <input class="form-control"
                                           type="text"
                                           name="country"
                                           id="countryEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="passwordEditUser"><strong>Password</strong>
                                    <input class="form-control"
                                           type="password"
                                           name="password"
                                           id="passwordEditUser"
                                           disabled/>
                                </label>
                            </p>
                            <label class="container-fluid col-6" for="rolesEditUser"><strong>Role</strong>
                                <select class="form-control"
                                        id="rolesEditUser"
                                        name="roles"
                                        multiple
                                        size="2">

                                </select>
                            </label>
                            <h1></h1>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    id="editFormCloseButton"
                                    class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                            <button type="submit"
                                    class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade"
     id="delete"
     tabindex="-1"
     role="dialog"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <form id="formDeleteUser">
                <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idDeleteUser"><strong>ID</strong>
                                    <input class="form-control"
                                           type="number"
                                           name="id"
                                           id="idDeleteUser"
                                           disabled/>
                                </label>
                            </p>
                            <p>
                                <label for="usernameDeleteUser"><strong>Username</strong>
                                    <input class="form-control"
                                           type="text"
                                           name="username"
                                           id="usernameDeleteUser" />
                                </label>
                            </p>
                            <p>
                                <label for="nameDeleteUser"><strong>Name</strong>
                                    <input class="form-control"
                                           type="text"
                                           name="name"
                                           id="nameDeleteUser" />
                                </label>
                            </p>
                            <p>
                                <label for="ageDeleteUser"><strong>Age</strong>
                                    <input class="form-control"
                                           type="text"
                                           name="age"
                                           id="ageDeleteUser" />
                                </label>
                            </p>
                            <p>
                                <label for="countryDeleteUser"><strong>Country</strong>
                                    <input class="form-control"
                                           type="text"
                                           name="country"
                                           id="countryDeleteUser" />
                                </label>
                            </p>
                            <p>
                                <label for="passwordDeleteUser"><strong>Password</strong>
                                    <input class="form-control"
                                           type="password"
                                           name="password"
                                           id="passwordDeleteUser"
                                           required/>
                                </label>
                            </p>
                            <label class="container-fluid col-6" for="rolesDeleteUser"><strong>Role</strong>
                                <select class="form-control"
                                        id="rolesDeleteUser"
                                        name="roles"
                                        multiple
                                        size="2"
                                        disabled>
                                </select>
                            </label>
                            <h1></h1>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    id="deleteFormCloseButton"
                                    class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                            <button type="submit"
                                    class="btn btn-danger btn btn-primary">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



<script type="text/javascript" src="/addUser.js" defer ></script>
<script type="text/javascript" src="/Users.js" defer ></script>
<script type="text/javascript" src="/delete.js" defer ></script>
<script type="text/javascript" src="/deleteUser.js" defer ></script>
<script type="text/javascript" src="/edit.js" defer ></script>
<script type="text/javascript" src="/editUser.js" defer ></script>
<script type="text/javascript" src="/user.js" defer ></script>

</body>
</html>