<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Age</th>
        <th></th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getName()}">Name</td>
        <td th:utext="${user.getCountry()}">Country</td>
        <td th:utext="${user.getAge()}">Age</td>
        <td th:utext="${user.getId()}">Id</td>
        <td><a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Update user</a></td>
    </tr>
</table>
<form method="post" action="/admin/delete">
    <label>
        <input type="number" name="id" placeholder="id">
    </label>
    <input type="submit" value="Delete User">
</form>
<a href="/admin/addUser">New user</a>
<a th:href="@{/logout}">Logout</a>
</body>
</html>